<div class="container">

    <p id="detail">Author: <span id="span">{{quote.author}}</span></p>

    <p id="detail">Publisher: <span id="span">{{quote.publisher}}</span></p>

    <p id="detail">Downvotes: <span id="span">{{quote.downvote}}</span></p>

    <p id="detail">Upvote: <span id="span">{{quote.upvote}}</span></p>

    <p id="detail">Published: <span id="span">{{quote.published}}</span></p>



  <div class="row">
  
    <div class="col">

    <div class="row">

      <div class="col">

        <button class="btn btn-outline-warning" (click)='upvote()'>   
          
          <i class="far fa-thumbs-up " (click)='upvote()'></i>
          
        </button>

        <!-- <label for=""> up-vote</label> -->

        

      </div>

      <div class="col">

        <button class="btn btn-outline-warning" (click)='downvote()'>   
          
          <i class="far fa-thumbs-down" (click)='downvote()'> </i>

        </button>


      </div>

      <div class="col">

        <button 

        class="btn btn-danger " id="del" (click)='deleteQuote(true)'>

          <i class="fas fa-trash-alt"  (click)='deleteQuote(true)'></i>

        </button>
        
      </div>

    </div>

    </div>
  

  </div>

  </div>

