#detail{
    color: wheat;
    font-size: 20px;
    font-weight: 900;
}
#span{
    font-family: 'Ephesis', cursive;
    color: white;
    font-size: 20px;
}
.far{
    color: greenyellow;
}
.far:hover{
    color: whitesmoke;
}
label{
    cursor: pointer;
}