<div class="container">

    <p id="paragraph">Author: <span id="span">{{quote.author}}</span></p>

    <p id="paragraph">Publisher: <span id="span">{{quote.publisher}}</span></p>

    <p id="paragraph">Downvotes: <span id="span">{{quote.downvote}}</span></p>

    <p id="paragraph">Upvote: <span id="span">{{quote.upvote}}</span></p>

    <p id="paragraph">Published: <span id="span">{{quote.published}}</span></p>



  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

    <div class="row">

      <div class="col-md-4">

        <button class="btn btn-outline-success" (click)='upvote()'>Upvote</button>

      </div>

      <div class="col-md-4">
        <button class="btn btn-outline-warning" (click)='downvote()'>Downvote</button>

      </div>

      <div class="col-md-4">

        <button class="btn btn-danger " id="del" (click)='deleteQuote(true)'>Delete</button>
      </div>

    </div>

    </div>
    <div class="col-md-2">

    </div>

  </div>

  </div>

