<div class="container">

    <p id="detail">Author: <span id="span">{{quote.author}}</span></p>

    <p id="detail">Publisher: <span id="span">{{quote.publisher}}</span></p>

    <p id="detail">Down-votes: <span id="span">{{quote.downvote}}</span></p>

    <p id="detail">Up-vote: <span id="span">{{quote.upvote}}</span></p>

    <p id="detail">
      Published:  <span id="span">{{quote.published|date}}</span> 
      <button id="span" class=" text-end ml-5 btn btn-sm bg-secondary">{{quote.published|days}} </button> days ago.
    </p>



  <div class="row">
  
    <div class="col">

    <div class="row">

      <div class="col">

        <button class="btn btn-outline-success" (click)='upvote()'>   

          <label for=""> up-vote ~ </label> 

          
          <i class="far fa-thumbs-up " (click)='upvote()'></i>

          
        </button>

        <!-- <label for=""> up-vote</label> -->

        

      </div>

      <div class="col">

        <button class="btn btn-outline-warning" (click)='downvote()'>   

          <label for=""> Down-vote ~ </label> 

          
          <i class="far fa-thumbs-down" (click)='downvote()'> </i>

        </button>


      </div>

      <div class="col">

        <button 

        class="btn btn-danger " id="del" (click)='deleteQuote(true)'>

        <label for=""> Delete ~ </label> 


          <i class="fas fa-trash-alt"  (click)='deleteQuote(true)'></i>

        </button>
        
      </div>

    </div>

    </div>
  

  </div>

</div>

