<div class="container">
  <div class="row">

    <div class="col-md-8">
  
      <h1 class="quote p-4">Inspirational Quotes</h1>
  
        <div *ngFor= 'let quote of quotes let i= index'>
  
          <div class="border border-3 border-secondary rounded" id="myCard">
            <!-- <h4 class="p-3 text">  ~ {{ quote.quote }} </h4> -->
            <h4  *ngIf="highestVotes()!==quote.upvote || quote.upvote===0" class="p-3 text">{{ quote.quote }}</h4>
            <h4 appHighlight *ngIf="highestVotes()===quote.upvote && quote.upvote>0" class="p-3 text">{{ quote.quote }}</h4>
            
  
            <app-quote-details *ngIf='quote' bind-quote='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>
            <br>
          </div>
          <br>
  
        </div>
  
    </div>
  
    <div class="col">
  
      <h3 class="quote p-4">GENERATE QUOTES</h3>
    
      <app-quote-form (add)="addedQuote($event)"></app-quote-form>    
    
    </div>
  
  </div>
  
</div>

