<div class="row">

  <div class="col-md-8">

    <h1 class="quote p-4">Inspirational Quotes</h1>

    <div class="container">

      <div *ngFor= 'let quote of quotes let i= index'>

        <h4 class="p-3 text">  ~ {{ quote.quote }} </h4>


        <app-quote-details *ngIf='quote' bind-quote='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>

      </div>
    </div>
  </div>

  <div class="col">

    <h3 class="quote p-4">GENERATE QUOTES</h3>

    <app-quote-form (add)="addedQuote($event)"></app-quote-form>


  </div>
