h1{
    font-family: 'Ephesis', cursive;
}
body{
    background-image: url("https://images.pexels.com/photos/531321/pexels-photo-531321.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: 100% 100%;

}

.quote{ 
    color: wheat;
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;
    /* font-size: 30px; */
}
#salb{
    color: wheat;
}

