h1{
    font-family: 'Ephesis', cursive;
}
body{
    background-image: url("https://images.pexels.com/photos/3304855/pexels-photo-3304855.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: 100% 100%;

}
.jumbotron{
    background: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
}

.quote{ 
    color: wheat;
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;
    /* font-size: 30px; */
}
#salb{
    color: wheat;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.text{
    color: white;
    font-weight:300;
    font-size: 25px
}

